{% extends 'forum/base.html' %}
{% load static %}
{% block title %} KSA | ASK the question {% endblock %}
{% block content %}
    {% include 'forum/components/navbar.html' %}
<div id="main" class="container-fluid">
    <div class="container">
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
        <form method="post">{% csrf_token %}
            <div class="row text-center">
                <div class="col-6">
                    <div class="form-group">
                        <label for="title">Question's Title</label>
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="How to patch KDE2 under FreeBSD?">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control" id="tags" name='tags' placeholder="FreeBSD, KDE2">
                    </div>
                </div>
                <hr>
                <div class="col-12">
                    <div class="form-group">
                        <label for="text">Question's details</label>
                        <textarea class="form-control" id="text" name="text" rows="8"></textarea>
                    </div>
                    <button type='submit' class="btn btn-lg btn-success justify-content-center">Create Question
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}