{% extends 'forum/base.html' %}
{% load static %}}


{% block title %}{{ question.title }} | KSA{% endblock %}

{% block content %}
    {% include 'forum/components/navbar.html' %}
    <div id="main" class="container-fluid">
        <div class="container">
            <div id="title" class="mt-sm-5 mt-md-0">
                <h1>{{ question.title }}</h1>
                <hr>
            </div>
            {% include 'forum/components/question.html' %}
            {% if user.is_authenticated %}
                <form method="post">{% csrf_token %}
                    <div class="alert alert-info">
                        <div class="media">
                            <div class="media-body text-center">
                                <h5><label
                                        for="new_answer">Your
                                    answer:</label></h5>
                                <textarea class="form-control" id="new_answer" name="new_answer" rows="3"></textarea>
                                <button type="submit" class="btn btn-success btn-lg mt-2">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}


            <ul class="list-unstyled">
                <a id="answers"></a>

                {% for answer in answers %}
                    {% include 'forum/components/answer.html' %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% csrf_token %}
{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript" src="{% static "forum/js/ajax_main.js" %}"></script>
{% endblock %}
