{% extends 'forum/base.html' %}
{% load static %}
{% block title %} KSA | ASK the question {% endblock %}
{% block content %}
    {% include 'forum/components/navbar.html' %}
    <div id="main" class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div id="question_wall" class="col-md-7 order-md-0 col-sm-12 order-sm-1">
                    <div id="title" class="mt-sm-5 mt-md-0">
                        <h1>New Questions</h1>
                        <hr>
                    </div>
                    {% if not tags %}
                        <nav class="nav nav-pills nav-justified" id="sorts">
                            <a class="nav-item nav-link" name="newest" href="/">Newest</a>
                            <a class="nav-item nav-link" name="popular" href="?popular">Most popular</a>
                            <a class="nav-item nav-link" name="answered" href="?answered">Most answered</a>
                        </nav>
                        <hr>
                    {% endif %}
                    <div id="question_blocks">
                        <ul class="list-unstyled">
                            {% for question in questions %}
                                {% include 'forum/components/question.html' %}
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>
                    {% include 'forum/components/paginator.html' %}
                </div>
                <div class="col-md-1 col-sm-0"></div>
                <div id="statistic_wall" class="col-md-4 order-md-1 col-sm-12 order-sm-0">
                    <div id="tags">
                        <h4>Most popular tags:</h4>
                        <ul class="list-group">
                            {% for tag in tags %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="/tags/{{ tag }}/1">
                                        {{ tag }}</a>
                                    <span class="badge badge-primary badge-pill">{{ tag.total }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        let sorts = document.getElementById('sorts').children;
        let sortType = window.location.search.replace('?', '') || 'newest';
        for (let i = 0; i < sorts.length; ++i) {
            sorts[i].classList.remove('active');
        }
        sorts[sortType].classList.add('active');
    </script>
    {% csrf_token %}
{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript" src="{% static "forum/js/ajax_main.js" %}"></script>
    {% if not user.is_authenticated %}
        <script type="text/javascript" src="{% static "/forum/js/denyVote.js" %}"></script>
    {% endif %}
{% endblock %}